<%- include('../partials/header') %>
    <table>
        <thead>
            <tr>
                <th>Product</th>
    
            </tr>
        </thead>
        <tbody>
            <%products.forEach(function(product){%>
                <tr>
                    <td>
                        <%=product.item%>
                    </td>
                    <td><a href="/products/<%=product._id%>">Detail</a></td>
                    <td>
                        <form action="/products/<%= product.id %>?_method=DELETE" 
                            method="POST">
            
                            <button class="removeButton" type="submit">Remove</button>
                        </form>
                    </td>
                </tr>
                <%})%>
        </tbody>
    </table>

    <br><br>
    <button>Checkout</button>
    <%- include('../partials/footer') %>