<%- include('../partials/header') %>
<div class="table">
<table >
        <thead class="head">
            <tr class="cart-product">
                <th >Product</th>
<th class="cart-quantity"> Quantity</th>
            </tr>
        </thead>
        <tbody>
            <%products.forEach(function(product){%>
                <tr>
                    <td class="cart-name">
                        <%=product.item%>
                   
                    </td>
                    <td class="cart-number">
                        <%=product.quantity%>
                    </td>
                    <td><a href="/products/<%=product._id%>" class="detailButton">Detail</a>
                    </td>
                    <td>
                        <form action="/products/<%= product.id %>?_method=DELETE" method="POST">
                            <button type="submit" class="removeButton">Remove</button>
                        </form>
                    </td>
                </tr>
                <%})%>
        </tbody>
    </table>
  
    <br><br>
<a href="/products/checkout" class="checkoutButton">Checkout</a>
</div>

    <%- include('../partials/footer') %>