<%- include('../partials/header') %>

<table >
        <thead>
            <tr>
                <th>Product</th>
<th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            <%products.forEach(function(product){%>
                <tr>
                    <td class="cart-product">
                        <%=product.item%>
                   
                    </td>
                    <td class="cart-quantity">
                        <%=product.quantity%>
                    </td>
                    <td><a href="/products/<%=product._id%>">Detail</a>
                    </td>
                    <td>
                        <form action="/products/<%= product.id %>?_method=DELETE" method="POST">
                            <button type="submit">Remove</button>
                        </form>
                    </td>
                </tr>
                <%})%>
        </tbody>
    </table>
  
    <br><br>
<a href="/products/checkout" class="checkoutButton">Checkout</a>


    <%- include('../partials/footer') %>