<%- include('../partials/header') %>
<section class="detail-page">
    <div>Item:</div>
    <div><%=product.item%></div>
    <div>Quantity:</div>
    <div><%=product.quantity%></div>
    <div>sugar:</div>
    <div><%=product.sugar%></div>
    <div>Ice:</div>
    <div><%=product.ice%></div>
    <div>Special Intruction:</div>
    <div><%=product.specialIntruction%></div>
    
</section>



<%- include('../partials/footer') %>